body{
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  // background-image: image('/catsanddogs.jpg');
}
header img{
  max-height: 200px;
}
header{
  max-height: 400px;
  background-color: #99ccff;
  margin: 0 auto;
  padding: 0;
  color: white;
}
footer{
  max-height: 200px;
  background-color: #99ccff;
  margin: 0 auto;
  padding: 0;
}

h1{
  text-align: center;
  font-size: 100px;
  padding: 0;
  margin: 0 auto;
}
h5{
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}
.aside{
  background-color: #e5f2ff;
  display: inline-block;
  width: 20%;
  height: 500px;
  padding: 0 0 0 0;
  vertical-align: top;
  padding-left: 30px;
  margin-left: 1px;
  text-decoration: none;
}
.petProfile{
  margin: 0 auto;
}
.petView{
  display: inline-block;
  width: 85%;
  background-color: #e5f2ff;
  height: 100%;
  margin: 0 auto;
  padding-left: 30px;
  margin-left: 95px;

}
h3{
  margin: 0 auto;
  margin-bottom: 12px;
}

form{
  margin: 0 auto;
  padding-top: 30px;
}
.dogPic{
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.logginPic{
  max-height: 320px;
  margin: 0;
}
article{
  display: inline-block;
  padding: 5px;
  border: 5px solid white;
  width: 360px;
  overflow: hidden;
  margin: 10px;
  img{
    max-height:210px;
    width: 210px;
    overflow: hidden;
  }
  }
li{
  list-style: none;
  margin: 0 auto;
  text-decoration: none;
}
a{
  list-style: none;
  margin: 0 auto;
  text-decoration: none;
}
nav{
  margin: 0 auto;
  text-decoration: none;
}
hover:li{
  color: white;
  font-weight: bold;
}
.newuserLink{
  padding-bottom: 30px;
  padding-top: 15px;
  padding-left: 10px;
  text-align: center;
  margin: 0 auto;
}
label{
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn{
  margin-bottom: 15px;
  margin-top: 10px;
}
label{
  padding-right: 8px;
  border-radius: 5px;
}
.form-control{
  width: 682px;
  margin: 0 auto;
  padding-top: 10px;
}

form .loginForm{
  margin: 0 auto;
  width: 450px;
  padding-top: 30px;
input{
  margin: 0 auto;
  padding: 0;
}
}.petform input{
height: 30px;
padding: 10px;
margin-top: 5px;
margin-bottom: 5px;
}
.theNewForm{
  margin: 0 auto;
  padding: 10px;
  margin: 5px;
  text-align: center;
  .form-control{
    padding: 5px;
  }
}
.theName{
  margin-top: 15px;
}
