header{
  height:200px;
  background-color: black;
  margin: 0 auto;
  padding: 0;
  color: white;
}
footer{
  height:30px;
  background-color: black;
  margin: 0 auto;
  padding: 0;
}
body{
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  padding: 0;
}
h1{
  font-size: 100px;
}
aside{
  background-color: yellow;
  display: inline-block;
  width: 30%;
  height: 500px;
  padding: 0 0 0 0;
  vertical-align: top;
}
.petProfile{
  margin: 0 auto;
  padding-left: 65px;
}
.petView{
  display: inline-block;
  width: 65%;
  background-color: orange;
  height: 500px;
  margin: 0 auto;
  padding: 0;

}
.form-control{
  width: 650px;
}
input{
height: 30px;
padding: 10px;
}
form{
  margin: 0 auto;
  padding-left: 55px;
  padding-top: 30px;
}
img{
  max-height: 200px;
}
article{
  display: inline-block;
  border: 5px solid black;
  margin:10px;
  }
