body{
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  // background-image: image('/catsanddogs.jpg');
}
header img{
  max-height: 200px;
}
header{
  max-height: 400px;
  background-color: #99ccff;
  margin: 0 auto;
  padding: 0;
  color: white;
}
footer{
  max-height: 200px;
  background-color: #99ccff;
  margin: 0 auto;
  padding: 0;
}

h1{
  text-align: center;
  font-size: 100px;
  padding: 0;
  margin: 0 auto;
}
h5{
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  display: inline-block;
}
.aside{
  background-color: #e5f2ff;
  display: inline-block;
  width: 20%;
  height: 340px;
  padding: 0 0 0 0;
  vertical-align: top;
  // padding-left: 30px;
  margin-left: 1px;
  text-decoration: none;
}
.petProfile{
  margin: 0 auto;
}
.petView{
  display: inline-block;
  width: 85%;
  background-color: #e5f2ff;
  height: 100%;
  margin: 0 auto;
  padding-left: 30px;
  margin-left: 95px;

}
h3{
  margin: 0 auto;
  margin-bottom: 12px;
  display: inline-block;
}
h4{
  display: inline-block;
}
.dogPic{
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.logginPic{
  max-height: 320px;
  margin: 0;
}
article{
  display: inline-block;
  padding: 5px;
  border: 5px solid white;
  width: 360px;
  overflow: hidden;
  margin: 10px;
  img{
    max-height:210px;
    width: 210px;
    overflow: hidden;
    border-color: #e5f2ff;

  }
  }
// li{
//   list-style: none;
//   margin: 0 auto;
//   text-decoration: none;
// }
a{
  list-style: none;
  margin: 0 auto;
  text-decoration: none;
  display: block;
  color: white;
}
nav{
  margin: 0 auto;
  text-decoration: none;
}
hover:a{
  color: white;

}
.newuserLink{
  padding-bottom: 30px;
  padding-top: 15px;
  padding-left: 10px;
  text-align: center;
  margin: 0 auto;
}
label{
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn{
  margin-bottom: 25px;
  margin-top: 25px;
  display: block;
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-decoration: none;
  list-style: none;
}
label{
  padding-right: 8px;
  border-radius: 5px;
}
.form-control{
  width: 682px;
  margin: 0 auto;
  padding-top: 10px;
}

form .loginForm{
  margin: 0 auto;
  width: 450px;
  padding-top: 30px;
input{
  margin: 0 auto;
  padding: 0;
}
}.petform input{
height: 30px;
padding: 10px;
margin-top: 5px;
margin-bottom: 5px;
}
.theNewForm{
  margin: 0 auto;
  padding: 10px;
  margin: 5px;
  text-align: center;
  .form-control{
    padding: 5px;
  }
}
.theName{
  margin-top: 15px;
}
button .logout{
  // color: white;
  // text-align: left;
  // margin: 0 auto;
  padding-left: 1150px;
  padding-bottom: 15px;
}
#logoutBtn{
  padding-bottom: 5px;
  padding-left: 1150px;
  padding-top: 0;

}
form{
  margin: 0 auto;
  padding-top: 30px;
}

.neighb{
  padding-left: 5px;
  font-style: italic;
  display: inline-block;
}
.hidden{
  display: none;
}
.editPage{
  border: none;
}
section{
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
  text-align: center;
}
.myEdit h3{
  padding-top: 20px;
}
.myEdit img{
  max-height: 300px;
}
ul{
  padding: 0;
  margin: 0 auto;
  display: block;
}
button{
  display: block;
  margin: 0 auto;

}
button .likes{
  border: none;
}
.likes{
  padding: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #e5f2ff;
  display: inline-block;
  h5{
      margin: 0 auto;
    color:black;
  }
}
.theLike{
    background-color: #e5f2ff;
    border: 1px solid #e5f2ff;
    display: inline-block;
    color:black;
    border-radius: 100%;

    img{
      border: 1px solid #e5f2ff;
      background-color: #e5f2ff;
      max-height: 40px;
      max-width: 40px;
      overflow: hidden;
    }
}
