body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  padding: 0; }

header img {
  max-height: 200px; }

header {
  max-height: 400px;
  background-color: black;
  margin: 0 auto;
  padding: 0;
  color: white; }

footer {
  height: 30px;
  background-color: black;
  margin: 0 auto;
  padding: 0; }

h1 {
  text-align: center;
  font-size: 100px;
  padding: 0;
  margin: 0 auto; }

aside {
  background-color: yellow;
  display: inline-block;
  width: 30%;
  height: 500px;
  padding: 0 0 0 0;
  vertical-align: top; }

.petProfile {
  margin: 0 auto; }

.petView {
  display: inline-block;
  width: 65%;
  background-color: orange;
  height: 500px;
  margin: 0 auto;
  padding: 0; }

.form-control {
  width: 650px; }

input {
  height: 30px;
  padding: 10px; }

form {
  margin: 0 auto;
  padding-left: 55px;
  padding-top: 30px; }

img {
  height: 200px;
  width: 200px;
  overflow: hidden; }

article {
  display: inline-block;
  padding: 5px;
  border: 5px solid black;
  width: 350px;
  height: 350px;
  overflow: hidden; }
